*{
	padding: 0;
	margin:0;
	font-family: sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}

.container {
	width: 80%;
	margin:0 auto;
}

.container:after{
	content:'';
	display: block;
	clear: both;
}

header h1{
	float: left;
	padding: 15px 0;
	color:#857119;
    
}

header ul{
	float: right;
}

header ul li{
	display: inline-block;
}

header ul li a{
	padding: 26px 20px;
    margin-left: 0px;
	display: inline-block;
}

header ul li a:hover{
	background-color: #857119;
	color: #fff;
}

.active{
	background-color: #857119;
	color: #fff;
}

.banner{
	height: 60vh;
	background-image: url('../utspbw/img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content:'';
	display: block;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: #857119;opacity: 0.5;
}

.banner h2 {
	color: #fff;
	z-index:1;
	padding: 10px 25px;
	border: 5px dashed #fff;
}

section{
	padding: 50px 0;
}

section h3{
	text-align: center;
	padding: 20px 0;
	color: #857119;
	margin-bottom: 25px;
}

.about {
	padding-bottom: 100px; 
}

.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px; 
	text-align: center;
}

.box:after{
	content: '';
	display: block;
	clear: both;
}

.box{
	color: #3d3d2f;
}

.box .col-4{
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}

.box .col-4 h4{
	margin: 20px 0;
}

footer {
	padding: 30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}

.label {
	background-color:#857119;
	color: #fff; 
}
